@import "~@nti/style-common";

@mixin block-editor($type) {
	margin: 0.875rem 0;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);

	ul {
		padding: initial; //reset the editor styles
	}

	.DraftEditor-root {
		min-height: 0;
		padding: 0;

		.public-DraftEditor-content {
			padding: 0;

			& > div, & > div > div {
				margin: 0;
			}
		}
	}

	.course-#{$type}-editor {
		.#{$type}-editor {
			margin: 0;
			height: 400px;
			background-size: cover;
		}

		.caption-editor {
			padding: rem-calc(10px 12px);
			margin: 0;
			background: $panel-background;
		}


		.rst-field-editor.title {
			.DraftEditor-root {
				font-weight: 600;
				line-height: 19px;
			}
		}

		.rst-field-editor.description {
			.DraftEditor-root {
				color: var(--secondary-grey);
				line-height: 1.43;
			}
		}
	}
}
