@import "~@nti/style-common";

.nti-content-editor-figure-editor {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $panel-background;
	min-height: 200px;

	img {
		max-width: 709px;//IE doesn't understand max-width 100% here... But width 100% was working. So I dunno...
		height: auto;
	}
}
