@import "~@nti/style-common";

.markupframe-bar {
	border-top: 1px solid $border-grey;
	cursor: default;
	display: block;
	position: relative;
	padding: 0 0.875rem 1.25rem;
	background: $panel-background;
	min-height: 2.3125rem;
}
