@import "~@nti/style-common";

.markupframe {
	position: relative;
	display: inline-block;
	border: 1px solid $border-grey;

	&.card {
		overflow: hidden;
		border: 0;

		a.content-link.related-work-ref {
			height: 100%;
			padding: 15px 0 0 165px;

			.file-type.icon {
				background-size: cover;
				width: 152px;
				height: 100%;
			}
		}

		img[id], .bar {
			//This is for anchors
			visibility: hidden;
			position: absolute;
			top: 0;
		}
	}

	&.bare {
		border: none;
	}

	&.is-narrow {
		.bar {
			.comment-label {
				display: none;
			}
		}
	}

	.application-highlight & {
		margin-right: 1rem;
	}

	.wrapper {
		display: inline-block;
		position: relative;

		.zoom {
			position: absolute;
			width: 2rem;
			height: 2rem;
			bottom: 0;
			right: 0;

			&.icon-search {
				text-shadow: 1px 2px 1px white, -1px -2px 1px white;
				color: $secondary-grey;
				font-size: 1.4rem;
			}
		}
	}


}
