@import '~@nti/style-common';

.content-editing-sidebar-body-editor {
	.nti-draft-core-container .nti-draft-core .DraftEditor-root {
		min-height: 200px;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		font: normal normal 0.875rem/2.2 $body-font-family;
		color: $primary-grey;

		.public-DraftEditor-content, .public-DraftEditorPlaceholder-root {
			padding: 0 1.25rem;

			& > div, & > div > div {
				margin: 0;
			}
		}
	}

	ul, ol {
		padding: 0 0 0 2.5rem;
	}
}
