{
	"compact": false,
	"env": {
		"development": {
			"presets": [
				["env", {
					"targets": {
						"node": "current"
					}
				}],
				"stage-1",
				"react"
			]
		},
		"test": {
			"presets": [
				["env", {
					"targets": {
						"node": "current"
					}
				}],
				"stage-1",
				"react"
			]
		}
	},
	"sourceMaps": "both"
}

