.code-block-editor {
  .textarea-container {
    border: none;
    box-shadow: inset 0 -1px 0 0 #e2e2e2;
    background-color: #FFFFFF;
    border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	min-height: 200px;
  }
}
