@import "~@nti/style-common";

.code-controls {
	box-shadow: inset 0 -1px 0 0 #e2e2e2;
	border-bottom: none;
	display: flex;
	align-items: center;
	padding: 0 0.75rem;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	.spacer {
		flex: 1 1 auto;
		height: 3rem;
	}

	i.dropdown {
		z-index: -1;
		position: absolute;
		right: 60px;
	}

	.remove {
		flex: 0 0 auto;
		width: 0.875rem;
		height: 0.875rem;
		border-radius: 0.875rem;
		background-color: var(--secondary-grey);
		color: white;
		cursor: pointer;
		font-size: 0.7rem;
		line-height: 15px;
		text-align: center;
		margin-left: 10px;
	}
}

.code-language-options {
	max-height: 200px;
	overflow: auto;
}
