@import '~nti-style-common';

.content-editing-editor-container {
	&.error {
		box-shadow: inset 0 0 1px 1px $border-red;
	}

	.content-editing-editor {
		.DraftEditor-root {
			min-height: 75vh;//TODO: figure out a better way than this...
			padding: 1.25rem;
		}
	}

	.content-editing-editor-error {
		padding: 1.25rem 1.25rem 0;
	}
}
