@import "~nti-style-common";

.content-toolbar {
	.toolbar {
		padding-left: 17px;
	}

	.right.controls {
		position: relative;
		padding-right: 10px;
		white-space: nowrap;
		height: 59px;
		float: right;

		.page {
			vertical-align: top;
			line-height: 59px;
			display: inline-block;
			font-style: italic;
			color: $primary-grey;
			margin-right: 15px;

			span {
				font-weight: 600;
			}
		}

		.prev, .next {
			cursor: pointer;
			display: inline-block;
			width: 40px;
			padding-top: 18px;
			font-size: 22px;
			line-height: 0;
			opacity: 0.65;
			color: #3fb3f6;

			&.disabled {
				cursor: default;
				color: $primary-grey;
			}

			&:not(.disabled):hover {
				opacity: 1;
			}
		}

		.prev {
			&::after {
				content: '';
				overflow: hidden;
				top: 22px;
				left: 60px;
				width: 22px;
				height: 12px;
				position: absolute;
				background-image: url(assets/arrow-up.png);
			}

			&.disabled::after {
				background-image: url(assets/arrow-up_inactive.png);
			}
		}

		.next {
			&::after {
				content: '';
				overflow: hidden;
				top: 22px;
				left: 100px;
				width: 22px;
				height: 12px;
				position: absolute;
				background-image: url(assets/arrow-down.png);
			}

			&.disabled::after {
				background-image: url(assets/arrow-down_inactive.png);
			}
		}
	}
}
