@import "~@nti/style-common";

.new-thought {
	background-color: #eaedf1;
    height: 60px;
    padding: rem-calc(8px);
	margin-bottom: rem-calc(5px);

	.prompt {
		background-color: white;
		line-height: 45px;
		border-radius: rem-calc(5px);
		box-shadow: 0 0 0 1px #dfe1e5;
		padding: 0 rem-calc(15px);
		color: $tertiary-grey;
		font-style: italic;
		font-weight: 300;
		font-size: 0.875em;
		cursor: pointer;
	}
}
