@import "~@nti/style-common";

.custom-block-type-control {
	display: flex;
	align-items: center;
	padding: 0 0.75rem;
	box-shadow: inset 0 -1px 0 0 var(--border-grey)-light;

	.spacer {
		flex: 1 1 auto;
		height: 3rem;
	}

	.change {
		flex: 0 0 auto;
		margin-right: rem-calc(21px);
		color: var(--secondary-grey);
		cursor: pointer;

		i {
			margin-right: rem-calc(10px);
			display: inline-block;
			vertical-align: middle;
		}

		span {
			font-size: 0.625rem;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.remove {
		flex: 0 0 auto;
		width: 0.875rem;
		height: 0.875rem;
		border-radius: 0.875rem;
		background-color: var(--secondary-grey);
		color: white;
		cursor: pointer;
		font-size: 0.7rem;
		line-height: 15px;
		text-align: center;
	}
}
