@import '~nti-style-common';

$level-one-padding: 0.75rem;
$level-two-padding: 0.75rem;
$level-three-padding: 1.125rem;
$level-four-padding: 1.875rem;
$level-five-padding: 2.375rem;

$rhs-padding: $level-one-padding;

$node-border:
	0 1px 0 0 $border-grey-light,
	0 -1px 0 0 $border-grey-light;

@mixin calcPadding ($font-size, $line-height, $desired-height) {
	$padding: ($desired-height - $line-height) / 2;

	font-size: rem-calc($font-size);
	line-height: $line-height / $font-size;

	padding-top: rem-calc($padding);
	padding-bottom: rem-calc($padding);
}

@mixin nodeStyles ($font-size, $line-height, $desired-height, $border, $level-padding, $hover) {
	@include calcPadding($font-size, $line-height, $desired-height);

	@if $border {
		box-shadow: $node-border
	}

	padding-right: $rhs-padding;
	padding-left: $level-padding;

	@if $hover {
		.no-touch &:not(.filtered):hover {
			background-color: #f0f0f0;
		}
	}

	.toc-label {
		@include limit-lines($line-height: $line-height/$font-size);
	}
}

