@import '~nti-style-common';
@import './Common';

.table-of-contents-node {
	color: $secondary-grey;

	&.root { display: none; }

	&.filtered {
		opacity: 0.3;
	}

	&.part {
		background: $panel-background;
		box-shadow: $node-border;

		@include calcPadding($font-size: 22px, $line-height: 28px, $desired-height: 52px);
		font: {
			style: normal;
			weight: 100;
			family: $header-font-family;
		}

		padding-right: $rhs-padding;
		padding-left: $level-one-padding;

		.label {
			@include limit-lines($line-height: 28/22);
		}
	}

	&.chapter {
		text-transform: uppercase;

		@include calcPadding($font-size: 14px, $line-height: 18px, $desired-height: 40px);
		font: {
			style: normal;
			weight: 700;
			family: $body-font-family;
		}

		padding-right: $rhs-padding;
		padding-left: $level-one-padding;

		.label {
			@include limit-lines($line-height: 18/14);
		}
	}

	&.section, &.subsection, &.subsubsection {
		@include calcPadding($font-size: 12px, $line-height: 16px, $desired-height: 30px);
		font: {
			style: normal;
			weight: 400;
			family: $body-font-family;
		}

		padding-right: $rhs-padding;

		.label {
			@include limit-lines($line-height: 16/12);
		}
	}

	&.section {
		padding-left: $level-two-padding;
	}

	&.subsection {
		padding-left: $level-three-padding;
	}

	&.subsubsection {
		padding-left: $level-four-padding;
	}


	.hit {
		background-color: #FCFF13;
	}
}
