@import '~@nti/style-common';
@import './Common';

.table-of-contents-node {
	color: $secondary-grey;
	cursor: pointer;

	&.root { display: none; }

	&.filtered {
		opacity: 0.3;
	}

	&.part {
		@include nodeStyles(
			$font-size: 22px,
			$line-height: 28px,
			$desired-height: 52px,
			$border: true,
			$level-padding: $level-one-padding,
			$hover: true
		);

		background: $panel-background;
		font: {
			style: normal;
			weight: 100;
			family: $header-font-family;
		};
	}

	&.chapter {
		@include nodeStyles(
			$font-size: 14px,
			$line-height: 18px,
			$desired-height: 40px,
			$border: false,
			$level-padding: $level-two-padding,
			$hover: true
		);

		text-transform: uppercase;
		font: {
			style: normal;
			weight: 700;
			family: $body-font-family;
		}
	}

	$section-font-size: 12px;
	$section-line-height: 16px;
	$section-desired-height: 30px;


	&.section {
		@include nodeStyles(
			$font-size: $section-font-size,
			$line-height: $section-line-height,
			$desired-height: $section-desired-height,
			$border: false,
			$level-padding: $level-three-padding,
			$hover: true
		);
	}

	&.subsection {
		@include nodeStyles(
			$font-size: $section-font-size,
			$line-height: $section-line-height,
			$desired-height: $section-desired-height,
			$border: false,
			$level-padding: $level-four-padding,
			$hover: true
		);
	}

	&.subsubsection {
		@include nodeStyles(
			$font-size: $section-font-size,
			$line-height: $section-line-height,
			$desired-height: $section-desired-height,
			$border: false,
			$level-padding: $level-five-padding,
			$hover: true
		);
	}


	.hit {
		background-color: #FCFF13;
	}
}
