@import '~nti-style-common';
@import './Common';


.table-of-contents-real-page {
	@include nodeStyles($font-size: 22px, $line-height: 28px, $desired-height: 52px, $border: true, $level-padding: $level-one-padding);

	color: $secondary-grey;
	background: $panel-background;
	font: {
		style: normal;
		weight: 100;
		family: $header-font-family;
	};
}
