@import '~@nti/style-common';
@import './Common';

.table-of-contents {
	& > .toc-label {
		@include nodeStyles(
			$font-size: 10px,
			$line-height: 13px,
			$desired-height: 20px,
			$border: true,
			$level-padding: $level-one-padding,
			$hover: false
		);

		color: var(--secondary-grey);
		font: {
			style: normal;
			weight: bold;
			family: var(--body-font-family);
		};
		text-transform: uppercase;
	}
}
