@import '~nti-style-common';
@import './Common';

.table-of-contents {
	& > .label {
		@include nodeStyles($font-size: 10px, $line-height: 13px, $desired-height: 20px, $border: true, $level-padding: $level-one-padding);

		color: $secondary-grey;
		font: {
			style: normal;
			weight: bold;
			family: $body-font-family;
		};
		text-transform: uppercase;
	}
}
