@import '~nti-style-common';

.table-of-contents-view {
	padding-top: 1px;

	ul.contents {
		list-style: none;
		padding: 0;
		margin: 0;

		li > h1{
			margin: 1.875rem 0 0;
			padding: 0.8125rem 0.42rem 0.5625rem;
			color: $secondary-grey;
			position: relative;
			text-transform: none;

			font-style: normal;
			font-weight: 100;
			font-size: 1.5rem;

			&.single-root {
				display: none;
			}
		}
	}
}
