@import '~@nti/style-common';

.editor-navbar-breadcrumb {
	font: normal 600 0.75rem/3.125rem $body-font-family;

	.root {
		text-transform: uppercase;
		cursor: pointer;
		color: var(--primary-blue);
	}
}
