@import '~@nti/style-common';

.editor-nav-bar {
	background: white;
	box-shadow: 0 1px 0 0 var(--border-grey-light);
	margin-bottom: 1px; //leave room for the box-shadow
	display: flex;
	padding: 0 rem-calc(30px);

	.breadcrumb {
		flex: 1 1 auto;
	}

	.pager {
		flex: 0 0 auto;
		color: var(--primary-grey);
	}
}
