@import "~nti-style-common";

.content-editor-render-mask {
	position: absolute;
	top: 51px; bottom: 0;
	left: 0; right: 0;
	display: none;

	background: rgba(255, 255, 255, 0.8);

	&.prepublishing, &.publishing, &.success, &.failure, &.deleting {
		display: block;
	}


	.publishing-indicator, .deleting-indicator {
		padding-top: rem-calc(130px);
		text-align: center;

		.spinner {
			display: inline-block;
		}

		.spinner-message {
			margin-top: 1rem;
			display: block;
			font-size: 0.875rem;
			color: $primary-blue;
		}

		.too-long-message {
			padding-top: rem-calc(20px);
			max-width: rem-calc(330px);
			margin: 0 auto;

			.message {
				font-size: 1.125rem;
				line-height: 1.625rem;
				color: $secondary-grey;
				display: block;
			}

			.button {
				display: block;
				width: rem-calc(127px);
				font-size: 1rem;
				line-height: 2.625rem;
				color: white;
				background-color: $primary-blue;
				border-radius: 4px;
				margin: 25px auto 0;
				cursor: pointer;
			}
		}
	}

	.success-indicator, .failure-indicator{
		padding-top: rem-calc(130px);
		text-align: center;

		i, .icon {
			display: inline-block;
			width: rem-calc(120px);
			line-height: rem-calc(120px);
			font-size: 3rem;
			font-weight: 300;
			border-radius: rem-calc(120px);
		}

		span {
			display: block;
			margin-top: 20px;
			line-height: 1.25rem;
			font-size: 0.875rem;
		}
	}

	.success-indicator {
		i {
			color: $primary-green;
			border: 2px solid $primary-green;
		}


		span {
			color: $primary-green;
		}
	}

	.failure-indicator {
		.icon {
			color: $primary-red;
			border: 2px solid $primary-red;
		}

		span {
			color: $primary-red;
		}
	}
}
