@import '~@nti/style-common';

.book-card.book-card-container {
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	position: relative;
	height: 290px;
	padding: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.bundle-card-image {
		width: 100%;
		height: 170px;
		overflow: hidden;
	}

	.bundle-card-image-background {
		display: block;
		width: auto;
		height: 100%;
		transform: scale(1);
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
			-webkit-transform 0.3s ease-in-out;
	}

	.bundle-card-image-background::before {
		content: ' ';
		display: block;
		padding-top: 73.2758621%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(./assets/default-card-image.png);
	}

	.no-touch &:hover {
		.bundle-card-image-background {
			opacity: 0.7;
			transform: scale(1.05, 1.05);
		}
	}

	.book-card-label {
		padding: 0 5px;
	}

	.book-edition {
		font: normal 600 0.625rem/1.3 var(--body-font-family);
		text-transform: uppercase;
		letter-spacing: 0.4px;
		margin-bottom: 4px;
		color: var(--tertiary-grey);
	}

	.book-title {
		font: normal 700 1rem/1.3 var(--header-font-family);
		color: var(--primary-grey);
		text-transform: uppercase;
		margin: 0;
		padding: 0;

		@include limit-lines($lines: 3, $line-height: 1.3);
	}

	.book-author {
		margin: 5px 0;
		font: normal 700 0.6rem/1.4 var(--body-font-family);
		color: var(--primary-blue);
		text-transform: uppercase;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0;

		@include limit-lines($lines: 2, $line-height: 1.4);
	}

	ul.badges {
		list-style: none;
		padding: 5px;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		li {
			flex: 0 0 auto;
		}

		.preview {
			font: normal 600 0.625rem/2.4 var(--body-font-family);
			color: white;
			text-transform: uppercase;
			text-align: center;
			background-color: var(--secondary-orange);
			border-radius: 2px;
			padding: 0 10px;
			margin: 5px 0 5px 5px;
		}
	}

	&.list-item {
		$height: 90px;

		height: $height;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		.bundle-card-image {
			flex: 0 0 $height;
			max-height: $height;
			object-fit: cover;
		}

		.bundle-card-image-background::before {
			height: $height;
		}

		.book-card-label {
			flex: 1 1 100%;
			padding: 0 10px;
			align-self: center;
		}

		.book-title {
			margin-top: 0.2rem;
			white-space: normal;
		}

		.book-author {
			margin-top: 5px;
			font-weight: 600;
			white-space: normal;
		}

		ul.badges {
			height: 44px;

			.preview {
				font-size: 0.5rem;
			}
		}
	}
}
