@import "~nti-style-common";

.content-control-bar {
	display: flex;
	align-items: center;
	height: 60px;

	.message {
		flex: 1 1 auto;
		color: $secondary-grey;

		i, span {
			display: inline-block;
			vertical-align: middle;
		}

		i {
			margin-right: rem-calc(5px);
		}


		span {
			font-size: 0.875rem;

			.username {
				font-weight: 600;
				color: $primary-grey;
			}
		}
	}

	.basic-button {
		flex: 0 0 auto;
	}
}
