@import "~nti-style-common";

.content-editor-publish-trigger {
	border-radius: 4px;
	background-color: $primary-blue;
	padding: 0 0.75rem;
	display: flex;
	align-items: center;
	color: white;
	cursor: pointer;

	.loading-spinner {
		flex: 0 0 auto;
		margin-right: rem-calc(5px);
	}

	.label {
		display: inline-block;
		min-width: 120px;
		flex: 1 1 auto;
		font-size: 0.875rem;
		line-height: 2.4375rem;
	}

	i.alert {
		display: inline-block;
		flex: 0 0 auto;
		margin-right: rem-calc(5px);

		font-size: 0.875rem;
		color: white;
	}


	i.menu {
		display: inline-block;
		flex: 0 0 auto;

		width: 1.125rem;
		height: 1.125rem;
		text-align: center;
		font-weight: 600;
		font-size: 0.625rem;
		line-height: 1.1rem;

		color: white;
		border: 2px solid white;
		border-radius: 1rem;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.8;
	}

	&.failed {
		background-color: $primary-red;
	}

	&.flyout-open {
		background-color: $tertiary-grey;
		box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.37);
	}
}

.content-editor-publish.flyout {
	.flyout-inner {
		border-radius: rem-calc(4px);
		padding: rem-calc(10px 15px);
	}

	.content-editor-publish-menu {
		max-width: 280px;
		font: normal 400 0.875rem/1.25rem $body-font-family;

		.error {
			color: $primary-red;
		}

		h3 {
			font: normal 400 1.125rem/1.5rem $body-font-family;
			color: $primary-grey;
			margin: 0 0 0.5rem;
		}

		p {
			color: $secondary-grey;
			margin-bottom: 1rem;
		}


		.action {
			color: $primary-blue;
			margin-bottom: 0.625rem;
			cursor: pointer;
		}


		.delete {
			padding-top: 0.625rem;
			color: $secondary-grey;
			cursor: pointer;

			i {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}
		}


		.publish {
			margin: 1.6rem 0 0;
			background-color: $primary-blue;
			line-height: 2rem;
			text-align: center;
			border-radius: 4px;
			color: white;
			cursor: pointer;
		}
	}
}
