@import "~nti-style-common";

.content-editor-controls {
	display: flex;
	align-items: center;

	.content-editor-type-format,
	.content-editor-style-format,
	.content-editor-insert-format,
	.content-editor-status {
		flex: 0 0 auto;
	}

	.content-editor-style-format {
		border-right: 1px solid $border-grey-alt;
		padding-right: 1.5rem;
	}

	.content-editor-insert-format {
		padding-left: 1.5rem;
	}

	.spacer {
		flex: 1 1 auto;
	}
}
