@import "~@nti/style-common";

.content-meta-editor {
	background: $panel-background;
	box-shadow: 0 1px 0 0 var(--border-grey)-light;
	padding: rem-calc(20px 32px 30px);
	display: flex;

	.content-icon-editor {
		flex: 0 0 auto;
		margin-right: rem-calc(10px);
	}

	.wrap {
		flex: 1 1 auto;
	}
}
