@import "~nti-style-common";

.content-meta-editor {
	background: $panel-background;
	box-shadow: 0 1px 0 0 $border-grey-light;
	padding: rem-calc(20px 32px 30px);
	min-height: 200px;//TODO: get rid of the meta editor is filled out
	display: flex;

	.content-icon-editor {
		flex: 0 0 auto;
		margin-right: rem-calc(10px);
	}

	.wrap {
		flex: 1 1 auto;
	}
}
