.select-title {
	font-size: 10px;
    text-transform: uppercase;
    color: #b8b8b8;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 16px;
}

.stream-sidebar .filter-sidebar .nti-select-native-wrapper {
	width: 90%;
    margin: 0 auto;
}
