@import '~nti-style-common';

.panel-sidebar {
	display: flex;

	.panel {
		flex: 1 1 auto;
		max-width: rem-calc(768px);
	}

	.sidebar {
		flex: 0 0 auto;
		width: rem-calc(250px);
		margin-left: rem-calc(5px);
	}
}
